# Node
/node_modules
npm-debug.log
yarn-error.log
*.log
*.env

# Angular build
/dist
/.angular/cache

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
Thumbs.db
